.plank-type{
    font-size:32px;
    padding:5px;
    border:solid 3px;
    color:#4E342E;
    margin: 2.5rem .5rem 2.5rem .5rem;
    transition:border-color .15s ease-in-out, border-radius .15s ease-in-out;
    outline:none;
}